.search-icon {
    font-size: 1em;
}

.delete-icon {
    font-size: 1.75em;
    color: #CC0033;
    cursor: pointer;
}

.check-icon {
    font-size: 1.75em;
    color: #4BB543;
}

.x-icon {
    font-size: 1.75em;
    color: #CC0033;
}